.vscode
dist/
download/cached_results/*
download/dataset/*
*egg-info/
__pycache__/
.ipynb_checkpoints
RXNEmb/
model_path/
save_model/
temp/
for_manu/
dev/
dataset/
build/
*/dropped
*.tar.gz
unimol*.log
notebook/**/*.png
notebook/gen_desc/
notebook/recommend_results/**/*.csv
notebook/recommend_results/**/*.npy